@charset "utf-8";
.cs_wrap {
  width: 100%;
  background: #f8f8f8;
}
.cs_inner {
  display: flex;
  gap: 2px;
  padding: 60px 0 100px;
}
.cs_list {
  background-color: #fff;
  width: 50%;
  padding: 40px 56px;
}
.cs_list h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.cs_faq {
  position: relative;
}
.cs_faq::after {
  content: "";
  width: 178px;
  height: 103px;
  background: url("../images/bg_faq.png") no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
.cs_costomer {
  position: relative;
}
.cs_costomer::after {
  content: "";
  width: 122px;
  height: 122px;
  background: url("../images/bg_custom.png") no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
