@charset "utf-8";
/* Global Font Settings */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* css파일 연결 */
@import url("header.css");
@import url("visual.css");
@import url("business.css");
@import url("news.css");
@import url("cs.css");
@import url("about.css");
@import url("footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: "Noto Sans", sans-serif;
}
/* 공통영역 */
.inner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.wrap{
    position: relative;
    display: block;
}